<?xml version="1.0" encoding="UTF-8" ?>
<psalm
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="https://getpsalm.org/schema/config"
        xsi:schemaLocation="https://getpsalm.org/schema/config config.xsd"
        name="Quality testing with Psalm"
        errorLevel="1"
>
    <projectFiles>
        <directory name="src"/>
    </projectFiles>
</psalm>